# Add any directories, files, or patterns you don't want to be tracked by version control
*.*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*/
!*.tex
!*.bib
!*.bst
!*.sty
!*.png
!*.cls
!*.jpg
!*.eps
!*.svg
!*.py
!*.png
!*.npy
!*.txt
